@keyframes width {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes mouve {
    from {
        margin-top: 250px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

section.home-expertise .expertises section,
section.home-cta .ctas .cta {
    animation: mouve 2.5s;
    animation-timing-function: ease-in-out;
    transition: margin-top .3s;
}

section.home-expertise .expertises section:nth-of-type(1),
section.home-cta .ctas .cta:nth-of-type(2) {
    animation: mouve 4.5s;
}