section.header-container {
    padding: 0 15px;
    padding-top: 100px;
    padding-bottom: 20vh;
    min-height: 100vh;
    background-image: url("../image/hero-background.jpg");
    background-size: cover;
}

section h1.header {
    text-align: center;
    font-size: 5.5vw;
    line-height: 120%;
    font-weight: 900;
    margin-bottom: 4vh;
    text-transform: uppercase;
    color: #fff;
}

section h1.header span {
    color: #ffe64d;
}

section .reveal {
    display: flex;
    justify-content: center;
}

section .reveal button.btn {
    display: inline-block;
    text-align: center;
    margin: 0 .5rem;
    margin-top: 1.5rem;
    border: 1px solid white;
    border-width: 2px;
    border-radius: 15px;
    background: #fff;
    color: #d92950;
}

section .reveal .btn {
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 15px 25px;
    font-weight: 700;
    text-transform: uppercase;
}

section .reveal .btn:hover {
    background: none;
    color: #fff;
}

section .slogant p {
    max-width: 750px;
    margin: auto;
    margin-top: 1.5rem;
    color: #fff;
    text-align: center;
}

section .tecnos {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

section .tecnos img {
    height: 50px;
    width: 50px;
    opacity: .5;
}


/* deuxieme section*/


/*section home-service */

.home-service {
    background: #f1f0f3;
}

.home-service {
    background: #f1f0f3;
    color: #424345;
}

section h1 {
    margin-bottom: 3.125rem;
    font-size: 2.5rem;
    text-align: center;
}

section.home-service {
    height: auto;
    display: flex;
    padding: 100px 30px;
}

.home-service .left {
    position: relative;
    width: 40%;
}

.left .item-boss {
    position: absolute;
    top: 0px;
    left: -100px;
    width: 105%;
    height: auto;
    border-radius: 25px;
}

.left .item-boss img.boss {
    height: auto;
    width: 100%;
    border-radius: 25px;
}

.item-boss .little-boss {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60%;
    width: 60%;
    transform: translate(25%, 25%);
}

.left .item-boss .little-boss img {
    height: auto;
    width: 100%;
    border-radius: 25px;
}

.home-service .right {
    padding: 0 15px;
    width: 60%;
    margin-left: 2.5%;
}

.right H1 {
    color: #424345;
}

.right .services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right .services .service {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 1rem!important;
}

.service .image {
    display: flex;
    justify-content: center;
}

.service img {
    width: 50px;
    height: 90px;
    border-bottom: 2px solid #ea0000;
    padding-bottom: 1.5rem!important;
    margin-bottom: 1rem;
}

.service h5 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
    line-height: 1.2;
    color: #424345;
    text-align: center;
}


/*troisieme section */


/*home-stats*/

section.home-stats {
    background: #d92950;
    color: #fff;
    padding: 100px 0;
}

.home-stats h1 {
    font-family: mons, serif, sans-serif;
    text-align: center;
}

.home-stats .stats {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    height: 200px;
    width: auto;
    padding: 0 15px;
}

.stats::-webkit-scrollbar,
.stats ::-moz-progress-bar,
.stats::-webkit-progress-bar {
    background: none;
    opacity: 0;
}

.stats::-webkit-scrollbar-thumb {
    background: #d92950;
}

.stats .stat {
    height: 100%;
    min-width: 200px;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.stats .stat img {
    display: inline-block;
    max-height: 80px;
    height: auto;
    width: 60%;
    margin: auto;
    line-height: 100%;
}


/* quatrieme section */


/*home-cta*/

section.home-cta {
    padding: 100px 15px;
    text-align: center;
    background: #f1f0f3;
}

section.home-cta h1 {
    font-weight: 300;
    font-family: mons;
}

section.home-cta .ctas {
    display: flex;
    justify-content: space-around;
}

.home-cta .ctas .cta {
    max-width: 50%;
    padding: 40px;
    margin: 0 15px;
    margin-bottom: 3rem!important;
    background: #fff;
    border-top: 10px solid #ffe64d;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.home-cta .ctas .cta:nth-child(2) {
    border-top: 10px solid #d92950;
}

.ctas .cta h3 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: .5rem;
    line-height: 1.2;
    color: #d92950;
    text-align: center;
}

.ctas .cta p {
    margin-bottom: 1rem;
}

.cta a {
    text-decoration: none;
}

.cta a button {
    border-width: 2px;
    border-radius: 15px;
    border: 2px solid #d92950;
    background: #d92950;
    color: white;
    padding: 15px 25px;
    margin-top: 1.5rem!important;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.ctas .cta a button:hover {
    cursor: pointer;
    color: #d92950;
    background: none;
}


/* cinquieme section */


/*home-projets*/

section.home-projets {
    padding: 100px 15px;
    background: #d92950;
}

.home-projets h1 {
    text-align: center;
    color: white;
    font-family: mons, serif, sans-serif;
}

.home-projets .projets {
    position: relative;
    display: flex;
    width: auto;
    justify-content: space-between;
}

.projets .projet {
    height: 450px;
    width: 33%;
    background: green;
}

.projets button img {
    height: 100%;
    width: 100%;
}

.projets button.left {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-10px, -10px);
}

.projets button.right {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-10px, -10px);
}

section.home-expertise {
    padding: 100px 0;
}

.home-expertise h1 {
    color: #424345;
}

.home-expertise .expertises {
    height: 500px;
}