section.header-container {
    padding: 0 15px;
    padding-top: 100px;
    padding-bottom: 20vh;
    min-height: 100vh;
    background-image: url("../image/hero-background.jpg");
    background-size: cover;
}

section h1.header {
    text-align: center;
    font-size: 5.5vw;
    line-height: 120%;
    font-weight: 900;
    margin-bottom: 4vh;
    text-transform: uppercase;
    color: #fff;
}

section h1.header span {
    color: #ffe64d;
}

section .reveal {
    display: flex;
    justify-content: center;
}

section .reveal button.btn {
    display: inline-block;
    text-align: center;
    margin: 0 .5rem;
    margin-top: 1.5rem;
    border: 1px solid white;
    border-width: 2px;
    border-radius: 15px;
    background: #fff;
    color: #d92950;
}

section .reveal .btn {
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 15px 25px;
    font-weight: 700;
    text-transform: uppercase;
}

section .reveal .btn:hover {
    background: none;
    color: #fff;
}

section .slogant p {
    max-width: 750px;
    margin: auto;
    margin-top: 1.5rem;
    color: #fff;
    text-align: center;
}

section .tecnos {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

section .tecnos img {
    height: 50px;
    width: 50px;
    opacity: .5;
}


/* deuxieme section*/


/*section home-service */

.home-service {
    background: #f1f0f3;
}

section h1 {
    margin-bottom: 3.125rem;
    font-size: 2.5rem;
}

section.home-service {
    height: auto;
    display: flex;
    padding: 100px 30px;
}

.home-service .left {
    position: relative;
    width: 40%;
}

.left .item-boss {
    position: absolute;
    top: 0px;
    left: -100px;
    width: 105%;
    height: auto;
    border-radius: 25px;
}

.left .item-boss img.boss {
    height: auto;
    width: 100%;
    border-radius: 25px;
}

.item-boss .little-boss {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60%;
    width: 60%;
    transform: translate(25%, 25%);
}

.left .item-boss .little-boss img {
    height: auto;
    width: 100%;
    border-radius: 25px;
}

.home-service .right {
    padding: 0 15px;
    width: 60%;
}

.right H1 {
    color: #424345;
}