@font-face {
    font-family: "montserrat";
    src: url(../font/Montserrat-Black.otf);
}

@font-face {
    font-family: "mons";
    src: url(../font/Montserrat-ExtraBold.otf)
}

@font-face {
    font-family: "monts";
    src: url(../font/Montserrat-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(24, 0, 39, .87);
    text-align: left;
    background-color: #fff;
    scroll-behavior: smooth;
    transition: 1s;
}

img,
svg {
    vertical-align: middle;
}

img {
    border-style: none;
}

header,
.btn {
    font-family: Roboto, sans-serif;
}

h1 {
    font-family: montserrat, sans-serif;
}


/* on focus */

button:focus {
    outline: none;
}


/*limite de tailles general */

.projets,
.stats,
.expertises,
.tecnos,
.ctas2 {
    max-width: 1200px;
    margin: auto;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}